soap/signetics.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ScheduleExpertService" targetNamespace="http://soap116.signetcs.com" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap116.signetcs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap116.signetcs.com" xmlns:tns="http://soap116.signetcs.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="cancelExpertForTestimony" type="tns:cancelExpertForTestimony" />
   <xs:element name="cancelExpertForTestimonyResponse" type="tns:cancelExpertForTestimonyResponse" />
   <xs:element name="scheduleExpertForTestimony" type="tns:scheduleExpertForTestimony" />
   <xs:element name="scheduleExpertForTestimonyResponse" type="tns:scheduleExpertForTestimonyResponse" />
   <xs:complexType name="scheduleExpertForTestimony">
      <xs:sequence>
         <xs:element minOccurs="0" name="scheduleExpertForTestimonyRequest" type="tns:ScheduleExpertForTestimonyRequest" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ScheduleExpertForTestimonyRequest">
      <xs:sequence>
         <xs:element form="qualified" name="requestContext" type="tns:RequestContext" />
         <xs:element form="qualified" name="scheduleExpertForTestimonyRequestDto" type="tns:ScheduleExpertForTestimonyRequestDto" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RequestContext">
      <xs:sequence>
         <xs:element form="qualified" name="applicationName" type="xs:string" />
         <xs:element form="qualified" name="osName" type="xs:string" />
         <xs:element form="qualified" name="uniqueRequestID" type="xs:string" />
         <xs:element form="qualified" name="userName" type="xs:string" />
         <xs:element form="qualified" name="machineName" type="xs:string" />
         <xs:element form="qualified" name="userRegion" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="echoField" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ScheduleExpertForTestimonyRequestDto">
      <xs:sequence>
         <xs:element form="qualified" name="vendorUniqueID" type="xs:string" />
         <xs:element form="qualified" name="trialDate" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="expertName" type="xs:string" />
         <xs:element form="qualified" name="expertIDNumber" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="alternateExpertRequested" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="alternateExpertID" type="xs:string" />
         <xs:element form="qualified" name="expertReviewType" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="courtType" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="venueCounty" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="injuredParty" type="xs:string" />
         <xs:element form="qualified" name="legalActionNumber" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="claimNumber" type="xs:string" />
         <xs:element form="qualified" name="invoiceNumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduleExpertForTestimonyResponse">
      <xs:sequence>
         <xs:element minOccurs="0" name="scheduleExpertForTestimonyResponse" type="tns:ScheduleExpertForTestimonyResponse" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ScheduleExpertForTestimonyResponse">
      <xs:sequence>
         <xs:element form="qualified" name="requestContext" type="tns:RequestContext" />
         <xs:element form="qualified" maxOccurs="unbounded" name="serviceStatus" type="tns:ServiceStatus" />
         <xs:element form="qualified" minOccurs="0" name="scheduleExpertForTestimonyResponseDto" type="tns:ScheduleExpertForTestimonyResponseDto" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ServiceStatus">
      <xs:sequence>
         <xs:element form="qualified" name="statusCode" type="xs:string" />
         <xs:element form="qualified" name="statusMessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ScheduleExpertForTestimonyResponseDto">
      <xs:sequence />
   </xs:complexType>
   <xs:complexType name="cancelExpertForTestimony">
      <xs:sequence>
         <xs:element minOccurs="0" name="cancelExpertForTestimonyRequest" type="tns:CancelExpertForTestimonyRequest" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CancelExpertForTestimonyRequest">
      <xs:sequence>
         <xs:element form="qualified" name="requestContext" type="tns:RequestContext" />
         <xs:element form="qualified" name="cancelExpertForTestimonyRequestDto" type="tns:CancelExpertForTestimonyRequestDto" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CancelExpertForTestimonyRequestDto">
      <xs:sequence>
         <xs:element form="qualified" name="vendorUniqueID" type="xs:string" />
         <xs:element form="qualified" name="cancellation" type="xs:string" />
         <xs:element form="qualified" minOccurs="0" name="cancellationReason" type="xs:string" />
         <xs:element form="qualified" name="invoiceNumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancelExpertForTestimonyResponse">
      <xs:sequence>
         <xs:element minOccurs="0" name="cancelExpertForTestimonyResponse" type="tns:CancelExpertForTestimonyResponse" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CancelExpertForTestimonyResponse">
      <xs:sequence>
         <xs:element form="qualified" name="requestContext" type="tns:RequestContext" />
         <xs:element form="qualified" maxOccurs="unbounded" name="serviceStatus" type="tns:ServiceStatus" />
         <xs:element form="qualified" minOccurs="0" name="cancelExpertForTestimonyResponseDto" type="tns:CancelExpertForTestimonyResponseDto" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CancelExpertForTestimonyResponseDto">
      <xs:sequence />
   </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="scheduleExpertForTestimonyResponse">
    <wsdl:part element="tns:scheduleExpertForTestimonyResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="scheduleExpertForTestimony">
    <wsdl:part element="tns:scheduleExpertForTestimony" name="parameters" />
  </wsdl:message>
  <wsdl:message name="cancelExpertForTestimony">
    <wsdl:part element="tns:cancelExpertForTestimony" name="parameters" />
  </wsdl:message>
  <wsdl:message name="cancelExpertForTestimonyResponse">
    <wsdl:part element="tns:cancelExpertForTestimonyResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="ScheduleExpertServiceBI">
    <wsdl:operation name="scheduleExpertForTestimony">
      <wsdl:input message="tns:scheduleExpertForTestimony" name="scheduleExpertForTestimony" />
      <wsdl:output message="tns:scheduleExpertForTestimonyResponse" name="scheduleExpertForTestimonyResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelExpertForTestimony">
      <wsdl:input message="tns:cancelExpertForTestimony" name="cancelExpertForTestimony" />
      <wsdl:output message="tns:cancelExpertForTestimonyResponse" name="cancelExpertForTestimonyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScheduleExpertServiceSoapBinding" type="tns:ScheduleExpertServiceBI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="scheduleExpertForTestimony">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="scheduleExpertForTestimony">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="scheduleExpertForTestimonyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelExpertForTestimony">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelExpertForTestimony">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelExpertForTestimonyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleExpertService">
    <wsdl:port binding="tns:ScheduleExpertServiceSoapBinding" name="ScheduleExpertServiceBIPort">
      <soap:address location="http://localhost/ScheduleExpertService/services/ScheduleExpertService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
